* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
}

button {
  background-color: rgb(13, 62, 82);
  color: blanchedalmond;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.hexContainer,
.rgbContainer {
  min-height: 100vh;
  flex: 1;
}

.hexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.rgbContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
