*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(44, 28, 58);
}
h1{
    color: white;
    margin-bottom: 30px;
    text-align: center;
}
.slider{
position: relative;
max-width: 45rem;
height: 25rem;
margin: 0 auto;
overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dots-container{
position: absolute;
top: 50%;


}
.bottom-container
{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 20px;

}

.bottom-container button{
    padding: 10px 20px;
    background-color: rgba(27, 75, 56, 0.507);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}
.dots-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.dots-container .dot{
width: 30px;
height: 10px;
border-radius: 8px;
background-color: rgb(194, 177, 177);
cursor: pointer;
position: absolute;
top: 75%;
left: 40%;
}


.dots-container .dot {
    width: 30px;
    height: 10px;
    border-radius: 8px;
    background-color: rgb(194, 177, 177);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dots-container .dot.active {
    background-color: black;
}
