*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Lighttheme{
    background-color: white;
    color: black;
}
.Darktheme{
    background-color: black;
    color: white;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}